<div class="container">
    <div class="row grid-container">
        <div class="col-md-10">
            <div class="table">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Start Date</th>
                            <th>Duration</th>
                            <th>Price in GBP</th>
                            <th>Price in EUR</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pitch of pitches">
                            <td>{{ pitch.id }}</td>
                            <td>{{ pitch.attributes.starts | amDateFormat:'HH:mm DD.MM.YYYY' }}</td>
                            <td>{{ getTimeDifference(pitch.attributes.starts, pitch.attributes.ends) }}</td>
                            <td>£{{ pitch.attributes.price }}</td>
                            <td>€{{ pitch.attributes.price | poundToEuro }}</td>
                        </tr>
                        <tr *ngIf="!pitches.length">
                            <td>&nbsp;</td>
                            <td colspan="7">No Records Found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
